@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap");

* {
    font-family: "Source Sans Pro", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    background-image: url("bomba.png");
}

.canvas {
    margin-top: 1.25rem;
    width: 800px;
    height: 800px;
    background-image: url("tileable_wood_texture.png");
    background-repeat: repeat;
}

.container {
    text-align: left;
}

.score,
.combo {
    padding: 0;
    margin-left: 1.25rem;
}

.score {
    letter-spacing: 3px;
    font-size: 45px;
    color: rgb(19, 191, 243);

    &.number {
        text-align: center;
        width: 5rem;
        font-size: 50px;
        margin-left: 15rem;
        border: 5px #000 solid;
    }
}

.combo {
    color: rgb(245, 78, 0);
    letter-spacing: 3px;
    font-size: 45px;

    &.number {
        text-align: center;
        width: 5rem;
        font-size: 50px;
        margin-left: 15rem;
        border: 5px #000 solid;
    }
}
